<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="com.huaxin.beans.postprocessor.beanfactory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean id="userService" class="com.huaxin.beans.bean.UserService">
        <property name="token" value="${token}"/>
    </bean>

</beans>
